.container {
  border: 1px solid black;
  margin: 150px;
  height: 500px;
  width: 500px;
  margin-left: 350px;
  border-radius: 8px;
  text-align: center;
  background-color: rgba(27, 111, 194, 0.032);
  display: flex;
  flex-direction: column;
}

.title {
  color: rgb(127, 192, 233);
  font-weight: 900;
  size: 100px;
  font-family: 'Courier New', Courier, monospace;
}
.input {
  height: 20px;
  padding: 5px;
  text-align: center;
  color: gray;
  width: 200px;
  margin-left: 140px;
  margin-right: 60px;
}

.result {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.degree {
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: -5px;
  font-weight: 900;
}