
.container {
  border: 1px solid gray;
  margin: 150px;
  height: 530px;
  width: 500px;
  margin-left: 350px;
  border-radius: 8px;
  text-align: center;
  background-color: rgba(219, 203, 208, 0.534);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.701);
}

.title {
  color: rgb(127, 192, 233);
  font-weight: 900;
  size: 100px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: -2px;
}
.input {
  height: 20px;
  padding: 5px;
  text-align: center;
  color: gray;
  width: 200px;
  margin-left: 140px;
  margin-right: 60px;
}

.result {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.degree {
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: -5px;
  font-weight: 900;
}

.informations {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.feels {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.humidity {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}